<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
          <ul class="nav">
              <li><a href="/" 
                      {% if page.path == 'index.html' %}class="active"{% endif %} 
                     title="Home">Home</a></li>
              <li><a href="/archive" 
                      {% if page.url contains "archive" or page.url contains "blog"%}class="active"{% endif %} 
                      title="Blog">Blog</a></li>
              <li style="float:right" ><a href="/about" 
                      {% if page.url contains "about" %}class="active"{% endif %} 
                      title="About Me">About</a></li>
          </ul>
      <div style="position: fixed; top: 0; width: 100%; height: 100%; z-index: -1;">
         <video autoplay  poster="/img/bg_video.png" id="bgvid" loop>
            <source src="/img/bg_video.mp4" type="video/mp4">
         </video>
      </div>
      <div class="container">
           {{ content }}
      </div>
      <footer>
          <ul>
              <li><a href="mailto:jorge.courett@gmail.com">email</a></li>
              <li><a href="https://github.com/joescott">github.com/joescott</a></li>
          </ul>
      </footer>
  </body>
</html>
